<div class="dashboard-container">
  <h2>Todo List</h2>

  <!-- Form untuk menambahkan Todo -->
  <form class="todo-form">
    <input type="text" placeholder="Enter Todo Title" name="title" required />
    <select name="category" required>
      <option value="" disabled selected>Select Category</option>
      <option>Pekerjaan</option>
    </select>
    <button type="submit">Add Todo</button>
  </form>

  <!-- Input untuk Pencarian -->
  <div class="search-container">
    <input type="text" placeholder="Search Todos" />
  </div>

  <!-- Daftar Todos -->
  <ul class="todo-list">
    <li>
      <span>septiawan</span>
      <button>Delete</button>
    </li>
  </ul>
</div>
